body{
    background-color: brown;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 111px;
    height: 200px;
    padding-top: 10px;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.container.visible{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

